*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  &>header{
    width: 100vw;
    height: 8vh;
    border: 1px solid red;
    // @include flexcenter();
    display: flex;

    &>div:nth-child(1){
      margin-left: 17vw;
      width: 12vw;
      height: 9vh;
      // border: 1px solid red;
      @include flexcenter();
    }
    &>ul{
      width: 25vw;
      height: 9vh;
      // border: 1px solid blue;
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      &>li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        height: 9vh;
        font-size: 1.5rem;
        font-weight: 800;
      }
      &>li::before{
        content: '▶';
      }
    }

    &>div:nth-child(3){
      width: 20vw;
      height: 9vh;
      // border: 1px solid blue;
      display: flex;
      justify-content: flex-end;
      &>div{
        width: 5vw;
        height: 8vh;
        font-weight: 800;
        border: 1px solid red;
        @include flexcenter();
      }
    }
    &>div:nth-child(4){
      width: 10vw;
      height: 9vh;
      // border: 1px solid red;
      @include flexcenter();
    }
  }
}