* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}
#root #dropdownMenu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #ccc;
  top: -100vh;
  transition: top ease-out 0.3s;
  z-index: 11;
}
#root > header {
  width: 100%;
  height: 9vh;
  background-color: #fff;
  display: flex;
  position: relative;
  z-index: 100;
}
#root > header > div:nth-child(1) {
  width: 100px;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root > header > div:nth-child(1) .container {
  width: 2.5vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
#root > header > div:nth-child(1) .container .btnContainer {
  width: 5vw;
  height: 5vh;
  background-color: #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 20;
}
#root > header > div:nth-child(1) .container .btnContainer .btn {
  z-index: 0;
}
#root > header > div:nth-child(1) .container .doosanLogo {
  width: 10vw;
  margin-left: 17vw;
  border: 1px solid blue;
  font-size: 12px;
}
#root > header > div:nth-child(1) .container .doosanLogo > span:nth-child(1) {
  font-weight: 1000;
}
#root > header .section-banner {
  width: 60vw;
  border: 1px solid red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#root > header .section-banner > ul {
  width: 50vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
#root > header .section-banner > ul > li {
  width: 6vw;
  display: flex;
  align-items: center;
  font-family: "RixSGo B";
}
#root > header #header-icons-container {
  width: 23vw;
  height: 9vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#root > header #header-icons-container #header-icons-one {
  width: 10vw;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
#root > header #header-icons-container #header-icons-one > li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #777;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
#root > header #header-icons-two {
  width: 4vw;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}
#root > header #header-icons-two > li {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main {
  width: 100vw;
  height: 91vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
}
#root #main #main-slide {
  width: 25vw;
  height: 91vh;
  border: 1px solid red;
  position: absolute;
}
#root #main #main-slide .poster {
  width: 25vw;
  height: 60vh;
  border: 1px solid red;
}
#root #main #main-slide #desc {
  width: 25vw;
  height: 31vh;
  background-color: #777;
}
#root #main #main-slide #desc > div:nth-child(1) {
  width: 25vw;
  height: 14vh;
  border: 1px solid salmon;
}
#root #main #main-slide #desc > div:nth-child(1) > div:nth-child(1) {
  width: 7vw;
  height: 7vh;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #main-slide #desc > div:nth-child(1) > div:nth-child(2) {
  width: 7vw;
  height: 7vh;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #main-slide #desc > div:nth-child(2) {
  width: 25vw;
  height: 12vh;
  display: flex;
}
#root #main #main-slide #desc > div:nth-child(2) > div:nth-child(1) {
  width: 12vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root #main #main-slide #desc > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 10vw;
  height: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 40px;
}
#root #main #main-slide #desc > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
  width: 10vw;
  height: 4vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 40px;
}
#root #main #main-slide #desc > div:nth-child(2) > div:nth-child(2) {
  width: 15vw;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #main-slide #desc .main-slide-navi {
  width: 25vw;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #main-slide #desc .main-slide-navi > div {
  width: 5vw;
  height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#root #main #programs {
  width: 100vw;
  height: 91vh;
  background-color: #888;
  display: flex;
}
#root #main #programs > div:nth-child(1) {
  width: 25vw;
  height: 91vh;
}
#root #main #programs #programs-container {
  width: 75vw;
  display: grid;
  grid-template-columns: 18.75vw 18.75vw 18.75vw 18.75vw;
}
#root #main #programs #programs-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#root #main #programs #programs-container > div:nth-child(1) > div:nth-child(1) {
  width: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(1) > div:nth-child(2) {
  width: 13vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(1) > div:nth-child(3) {
  width: 13vw;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(1) > div:nth-child(4) {
  width: 14vw;
}
#root #main #programs #programs-container > div:nth-child(2) > div:nth-child(1) {
  width: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(2) > div:nth-child(2) {
  width: 13vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(2) > div:nth-child(3) {
  width: 13vw;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(2) > div:nth-child(4) {
  width: 14vw;
}
#root #main #programs #programs-container > div:nth-child(3) > div:nth-child(1) {
  width: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(3) > div:nth-child(2) {
  width: 13vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(3) > div:nth-child(3) {
  width: 13vw;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(3) > div:nth-child(4) {
  width: 14vw;
}
#root #main #programs #programs-container > div:nth-child(3) > div:nth-child(1) {
  width: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(4) > div:nth-child(2) {
  width: 13vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(4) > div:nth-child(3) {
  width: 13vw;
  height: 12vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #programs #programs-container > div:nth-child(4) > div:nth-child(4) {
  width: 14vw;
}
#root #main #programs #programs-container > div:nth-child(4) > div:nth-child(1) {
  width: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#root #main #mainsection-navi-button {
  width: 100vw;
  height: 10vh;
  border: 1px solid red;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) {
  width: 35vw;
  border: 1px solid blue;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) {
  width: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  width: 5vw;
  height: 10vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) .left-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) .left-btn > i {
  font-size: 40px;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  width: 5vw;
  height: 10vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) .right-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #main #mainsection-navi-button > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) .right-btn > i {
  font-size: 40px;
}/*# sourceMappingURL=index.css.map */